
@{
    
}

<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-page="Index">Home</a></li>
        <li><a asp-page="AboutUs">About us</a></li>
        <li><a asp-page="Services">Our Services</a></li>
        <li><a asp-page="Portfolio">Portfolio</a></li>
        <li><a asp-page="Features">Features</a></li>
        <li><a asp-page="Testimonials">Testimonials</a></li>
        <li><a asp-page="Pricing">Pricing</a></li>
        <li><a class="active" asp-page="Contact">Contact</a></li>
    </ul>
</div>
